@import "../../theme";

.header {
  background-color: $app_dark_color;
  width: 100%;
  padding: 1rem 0;
}

.headerContainer {
  margin: 0 10%;
}

.h1Link {
  color: $app_primary_color;
  text-decoration: none;
}

.largeText {
  font-size: 7rem;

}

@media only screen and (max-width: $app_media_query) {
  .headerContainer {
    margin: 0 auto;
    text-align: center;
  }
}