@import "../../theme";

.header {
  background-color: $app_dark_color;
  width: 100%;
}

.headerContainer {
  margin: 0 10%;
  padding: 0 0 0.01rem 0;

}

.link {
  color: $app_primary_color;
  text-decoration: none;
}

.largeText {
  font-size: 7rem;

}

.navFlexBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: 'Courier New', Courier, monospace;
  color: $app_secondary_color;
}

.navItem {
  margin: 1rem 1rem;
  color: $app_primary_color;
  text-decoration: none;
}

.navFlexBox:first-child {
  margin: 0rem -1rem;
}

.navLink {
  text-decoration: none;
  color: $app_secondary_color;
}

.activeNavLink {
  text-decoration: underline !important;
}

@media only screen and (max-width: $app_media_query) {

  .largeText {
    font-size: 6rem;
  }

}

@media only screen and (min-width: $app_media_query_high) {

  .largeText {
    font-size: 9rem;
  }
  
}