// primary_color: '#40b4c4',
// secondary_color: '#ffffff',
// highlight_color: '#74dfc4'

$app-primary-color:#40b4c4;
$app-secondary_color: #ffffff;
$app-highlight_color: #74dfc4;

:export {
  appPrimaryColor: $app-primary-color;
  appSecondaryColor: $app-secondary_color;
  appHighlightColor: $app-highlight_color;
}