$app_primary_color:#40b4c4;
$app_secondary_color: #FFFFFF;
$app_highlight_color: #FF9E53;

:export {
  appPrimaryColor: $app_primary_color;
  appSecondaryColor: $app_secondary_color;
  appHighlightColor: $app_highlight_color;
}