// Global theming colors

$app_primary_color:#40b4c4;
$app_secondary_color: #FFFFFF;
$app_highlight_color: #FF9E53;
$app_dark_color: #000000;

// Break Point
$app_media_query: 650px;

.material-icons {
  font-family: 'Material Icons';
}