@import "../../theme";

.imageArticle {
  padding: 1rem 0rem;
  margin: 1rem 0rem;
}

.content {
  border-left: 0.2rem solid $app_primary_color;
  padding: 1rem 0.8rem;
}

.articleTag {
  text-decoration: none;
  color: $app_dark_color;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}